body {
  font-family: Arial, Helvetica, sans-serif;
}

.keypad {
  margin-bottom: 20px;
}

th {
  border: 1px solid black;
  width: 80px;
}

td {
  text-align: center;
}

.total {
  margin-top: 15px;
  font-size: 25px;
}