body {
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  color: red;
  font-style: italic;
}

h2 {
  color: green;
}

.keypad {
  margin-bottom: 20px;
}

th {
  border: 1px solid black;
  width: 80px;
}

td {
  text-align: center;
}

.total {
  margin-top: 15px;
  font-size: 25px;
}